ion-content {
  --background: #f4f5f8;
}

ion-thumbnail {
  --size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  ion-icon {
    font-size: 24px;
    color: var(--ion-color-medium);
  }
}

ion-footer {
  ion-toolbar {
    padding: 8px;
  }
  
  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
  }
  
  ion-range {
    padding: 0;
  }
}

ion-progress-bar {
  --buffer-background: rgba(var(--ion-color-primary-rgb), 0.2);
  --progress-background: var(--ion-color-primary);
}